@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./ComponentsStyles/componentsMain.css";
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primaryBgDark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryBgLight);
  /* border-radius: 1rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
::-webkit-scrollbar-track:hover {
  background-color: var(--secondaryLight);
}

.mainPageLayout {
  padding: 0rem 15vw;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    " mainHeader mainHeader"
    "sidebar mainContentContainer";
}

.mainHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primaryBgLight);
  padding: 1rem;
  min-height: 7vh;
  border-bottom: 0.01rem solid var(--divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: mainHeader;
}

.logoContainer > a {
  font-size: 3rem;

  color: var(--primary);
  font-weight: 700;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.logoContainer img {
  width: auto;
  height: 4rem;
}

.grid20-80 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sidebar {
  position: sticky;
  top: 7vh;
  z-index: 1;
  height: 93vh;
  overflow-y: scroll;
  grid-area: sidebar;
}
.sidebar::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: var(--primaryBgDark);
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: var(--primaryLight);
  /* border-radius: 1rem; */
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
.sidebar::-webkit-scrollbar-track:hover {
  background-color: var(--secondaryLight);
}
.scrollContainer {
  padding: 2rem;
}
.scrollContainer > h2 {
  font-size: 1.65rem;
  font-weight: 700;
  color: var(--primaryLight);
  padding: 2rem 0rem;
}

.scrollContainer > ul > li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primaryLight);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.scrollContainer > ul > li:hover {
  background-color: var(--secondaryLight);
  color: var(--secondary);
  border-radius: 0.5rem;
  cursor: pointer;
}
.mainContentContainer {
  padding: 2rem;
  grid-area: mainContentContainer;
}
.intro {
  padding-bottom: 2rem;
}
.intro > h1 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 800;
}
.intro > p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primaryLight);
  padding: 1rem 0rem;
}

#accordianCont > h1 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 800;
}
pre {
  font-size: 1.4rem;
}
