@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.mainPageLayout {
  padding: 0rem 15vw;
}

.mainHeader {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem;
  min-height: 7vh;
  border-bottom: 0.01rem solid rgba(194, 194, 194, 0.363);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer > a {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.822);
  font-weight: 700;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.logoContainer img {
  width: auto;
  height: 4rem;
}

.grid20-80 {
  display: grid;
  grid-template-columns: 20% 80%;
}

.socialContainer > a {
  font-size: 1.9rem;
  font-weight: 500;
  color: #6b7280;
  text-decoration: none;
  padding: 1rem;
}

.socialContainer > a:hover {
  background-color: #e2feff;
  color: rgb(14 116 144);
  border-radius: 0.5rem;
  cursor: pointer;
}

.socialContainer > i {
  font-size: 2rem;
  padding: 1rem;
}

.socialContainer > i:hover {
  background-color: #e2feff;
  color: rgb(14 116 144);
  border-radius: 0.5rem;
  cursor: pointer;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroLogo {
  height: 60rem;
  padding: 2rem;
}

.heroText {
  padding: 2rem;
}

.heroText > h1 {
  color: #111827;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  padding: 1rem;
}

.heroText > p {
  color: #6b7280;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}

.footerContainer {
  background-color: white;
  padding: 1rem;
  min-height: 15vh;
  border-top: 0.01rem solid rgba(194, 194, 194, 0.363);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.connectMe {
  font-size: 1.9rem;
  font-weight: 500;
  color: #6b7280;
  text-decoration: none;
  padding: 1rem;
}

.connectMe > p {
  padding: 1rem;
}

.socialNav > a > i {
  color: #111827;
  font-size: 2rem;
  padding: 1rem;
}

.socialNav > a > i:hover {
  background-color: #e2feff;
  color: rgb(14 116 144);
  border-radius: 0.5rem;
  cursor: pointer;
}

.end {
  padding: 1rem;
}
