@import "./root.css";

.alert {
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 2rem;
  margin: 1rem 0;
  width: 100%;
  font-weight: 600;
}

.alertPrimary {
  background-color: var(--thirdPrimaryLight);
  color: var(--primaryBgLight);
}

.alertSecondary {
  background-color: var(--primaryBgDark);
  color: var(--primaryLight);
}
.alertSuccess {
  background-color: var(--successBg);
  color: var(--success);
}
.alertDanger {
  background-color: var(--dangerBg);
  color: var(--danger);
}
.alertWarning {
  background-color: var(--warningBg);
  color: var(--warning);
}
.alertInfo {
  background-color: var(--infoBg);
  color: var(--info);
}
.alertLight {
  background-color: var(--primaryBgLight);
  border: 0.2rem solid var(--divider);
}
.alertDark {
  background-color: var(--primaryLight);
  color: var(--primaryBgLight);
}
