.breadcrumbs {
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
}
.breadcrumbsItem {
  display: inline-block;
  color: var(--primaryLighter);
}
.breadcrumbsLink {
  color: var(--thirdPrimaryLight);
}

.nonActiveLink {
  /* color: var(--primaryLight); */
  text-decoration: none;
}

.breadcrumbsItem:not(:last-of-type)::after {
  content: "/";
  margin: 0 0.5rem;
  color: var(--primaryLighter);
}
.breadcrumbsItem[class*="arrow"]:not(:last-of-type)::after {
  content: ">";
  margin: 0 0.5rem;
  color: var(--primaryLighter);
}
