:root {
  --primary: #111827;
  --primaryLight: #6b7280;
  --primaryBgLight: #ffffff;
  --primaryBgDark: #f1f1f1;
  --divider: #c2c2c25d;

  --secondary: #0e7490;
  --secondaryLight: #e2feff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
