@import "../root.css";

.range {
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: var(--primaryBgLight);
  border: 0.15rem solid var(--thirdPrimary1);
  border-radius: 5rem;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
}

#rangeValue {
  font-weight: 800;
  font-size: 1.75rem;
  padding-left: 2rem;
  color: var(--thirdPrimary1);
}
.range input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 0.3rem;
  background: var(--thirdPrimary1);
  border: none;
  outline: none;
}
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 2rem;
  height: 2rem;
  background: var(--primaryBgLight);
  border: 0.3rem solid var(--thirdPrimary1);
  border-radius: 50%;
  cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--thirdPrimary1);
}
